.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('../../../public/images/home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 70rem;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),  var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    
}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    text-align: left;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
   color: var(--bg-color); 
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}
/* style button */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 40.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-right: 2rem;
    align-items: center;
    width: 20rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box .btn::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0; 
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

/*ANIMATION RELOAD AND SCROLL*/
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.home-img {
    width: 50%;
}

.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

/**BREAKPOINTS */
@media (max-width: 991px) {
    .home {
        padding: 0 4%;
    }
}

@media (max-width: 850px) {
    .animate.home-img {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .btn-box {
        margin-bottom: 5rem;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: 1;
    }
    
}

@media(max-width: 462px) {
    .home-content h1 {
        font-size: 6.2rem;
        text-align: center;
    }
    
    .home-content h3 {
        margin-top: 1rem;
        
    }

    .home-content p {
        font-size: 1.8rem;
    }

    .home-imgHover {
        opacity: 1;
    }

    .home-sci {
        width: 85%;
        justify-content: space-evenly;
        margin-top: 10rem;
    }

    .btn-box {
        margin-top: 7rem;
        margin-bottom: 10rem;
        width: 47rem;
    }
}

@media(max-width: 371px) {
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* text-align: center;*/
        width: 55rem;
        font-size: 1rem;
        text-align: center;
        /* margin-left: 5rem; */
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content h3 {
        text-align: center;
    }

    .home-content p {
        margin-bottom: 0;
    }

    .btn-box {
        margin: 0 auto;
        margin-top: 3rem;
        width: 30rem;
    }

    .btn-box .btn {
        font-size: 1.5rem;
        width: 14rem;
        margin-right: 0;
    }

    .home-sci {
        height: 1rem;
    }
}

/*KEYFRAMES ANIMATION*/
@keyframes homeBgText {
    0%,10%,100% {
        background-position: -33rem 0;
    }
    65%,85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,10%,100% {
        width: 0;
    }

    65%,78%,85% {
        width: 100%;
        opacity: 1;
    }

    75%,81% {
        opacity: 0;
    }

}

@keyframes showRight {
    100% {
      width: 0;  
    }
}