.heading {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contact {
    min-width: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);    
}

.contact h2 {
   display: inline-block;
   left: 50%;
   transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input, .contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder, .contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus~.focus, .contact form .input-box .input-field input:valid~.focus, .contact form .textarea-field textarea:focus~.focus, .contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
   resize: none;
}

.contact form .btn-box.btns .btn-contact {
    cursor: pointer;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);

}
/* style button */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn-contact {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn-contact::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0; 
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn-contact:hover::before{
    width: 100%;
}

/*ANIMATION RELOAD AND SCROLL*/
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: 98;
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.1s / var(--i));
    animation: none;
}

.contact.show-animate .animate.scroll {
    transition-delay: calc(.1s * var(--i));
    width: 0;
}

.successNotification {
    background: var(--bg-color) !important;
    color: var(--text-color) !important;
    font-size: 1.3rem;
}

.toastProgress {
    background: var(--main-color) !important;
}

.errorNotification {
    font-size: 1.3rem;
    color: var(--bg-color) !important;
    background: var(--text-color) !important;
}
/*BREAKPOINTS*/
@media(max-width: 462px) {
    .contact form .input-box .input-field{
        width: 100%;
    }
}